<a href="https://colab.research.google.com/github/shivam0070/-NETFLIX/blob/main/Last_minute_python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Reverse an Integerr

n  = 8179
rev = 0
while n!=0:
  rem = n % 10
  rev  = rev*10 + rem
  n= n//10
print(rev)

9718

In [ ]:
# ARmstrong

num = 407

sum = 0
temp = num

while temp > 0:
  digit = temp % 10
  sum = sum  + digit**3 
  temp = temp // 10

if num == sum:
  print("Armstronng")
else:
  print("Not a Armstrong")

In [ ]:
n = 407
rev = 0
t=n
while t>0:
  rem = n%10
  rev = rev + rem**3
  n = n //10

if n == rev:
  print("armstrong")
else:
  print("NOt Armstrong")

In [ ]:
# Swap 2 numbers
a = 25
b = 75
t = a
a = b
b = t

print(a)
print(b)

75
25

In [ ]:
# Swap 1st and last numbers in a list
a = [1,2,3,4,5]
b = len(a)-1
t = a[0]
a[0] = a[b]
a[b] = t

print("1st ele is :",a[0])
print("last ele is :",a[b])

1st ele is : 5
last ele is : 1

In [ ]:
# Smallest & largest number in a list
a = [2,5,14,1]
a.sort()
print('Smallest number is',a[0])
print("largest number is ",a[-1])
print("2nd largest number is ",a[-2])

Smallest number is 1
largest number is  14
2nd largest number is  5

In [ ]:
# Smallest number in list
a = [2,5,14,1]
min = a[0] 
for i in range(len(a)):
  if a[i]<min:
    min = a[i]
print(min)

1

In [ ]:
# largest number in list
a = [2,5,14,1]
max = a[0]
for i in range(len(a)):
  if a[i] > max:
    max = a[i]
print(max)

14

In [ ]:
# Count number of  element in list
a = [1,2,3,1,1,5,6,1]
len(a)

8

In [ ]:
# Count occurrences of an element
a = [1,2,3,1,1,5,6,1]
counter = 0
for i in a:
  counter = counter +1
print(counter)

8

In [ ]:
# Count occurrences of an element
a = [1,2,3,1,1,5,6,1]
a.count(1)

4

In [ ]:
# Count occurrences of an element
a = [1,2,3,1,1,5,6,1]
c = 0
for i in a:
  if (i==1):
    c = c+1
print(c)

4

In [ ]:
# Even number in a list
a = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(a)):
  if a[i]%2==0:
    print(a[i])

2
4
6
8
10

In [ ]:
# Odd number in a list
a = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(a)):
  if a[i]%2==1:
    print(a[i])

1
3
5
7
9

In [ ]:
# prime number
# A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself. The first few prime numbers are {2, 3, 5, 7, 11, â€¦.}. 

num = 11

if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
      print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

In [ ]:
num = 11

if num> 1:
  for i in range(2,(num//2)+1):
    if num%i == 0:
      print("prime")
      break

  else:
      print("not")



else:
  print("NOt Prime")

not

In [ ]:
n = 4
fact = 1

while n!=0:
  fact = fact*n
  n=n-1

print(fact)

24

In [ ]:
# Factorial of a nummber
n = 3
fact = 1
while n!=0:

  fact = n*fact
  n=n-1
print(fact)

6

In [ ]:
def fibonacci(n):
  if n<0:
    print("incorrect input")
  elif n == 0:
    return 0
  elif n == 1:
    return 1
  else :
    return(fibonacci(n-1)+fibonacci(n-2))

print(fibonacci(7))

13

In [ ]:
s = input()

if s==s[::-1]:
  print("Palindrome")
else:
  print("Not a Palindrome")

madam
Palindrome

In [ ]:
def palindrome(s):
  
  if s==s[::-1]:
    print("Palindrome")
  else:
    print("Not a Palindrome")

palindrome('Ruchi')

Not a Palindrome

In [ ]:
# ARmstrong

num = 407

sum = 0
temp = num

while temp > 0:
  digit = temp % 10
  sum = sum  + digit**3 
  temp = temp // 10

if num == sum:
  print("Armstronng")
else:
  print("Not a Armstrong")

Armstronng

In [ ]:
num = int(input())
sum = 0
temp = num

while temp > 0:
  digit = temp%10
  sum = sum+digit**3
  temp = temp//10

if num == sum:
  print("arm")
else :
  print("not")

407
arm

In [ ]:
n = 5 
for i in range(n):
  for j in range(i,n):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5 
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 5 
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n = 5 
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i):
    print('*',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n = 5 
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
n = 5 
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  for j in range(i+1,n):
    print('*',end=' ')
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n = 5 
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  for j in range(n+1,i):
    print('*',end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *